[submodule "dep/imgui"]
	path = dep/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dep/texture-atlas-generator"]
	path = dep/texture-atlas-generator
	url = git@github.com:faliszewskii/texture-atlas-generator.git
[submodule "dep/mixbox"]
	path = dep/mixbox
	url = git@github.com:scrtwpns/mixbox.git
